.conteiner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.repo{
    margin: 20px;
    z-index: 0;
}
.central{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    color: white;
    h1{
        font-weight: bold;
        font-size: 2em;
    }
}