
<div>
    
    <div class="central">
        <h1 class="title"> 
            Projetos
        </h1>
    </div>
    <div class="conteiner">
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
        <repository class="repo"></repository>
    </div>
</div>