.conteiner {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3,0.3fr);
}
//there's the grid
.repo{
    margin: 20px;
    z-index: 0;
}
.central{
display: flex;
justify-content: center;
margin-top: 5vh;
color: white;
h1{
    font-weight: bold;
    font-size: 2em;
}
}