
.main{
  background-color: #000000;
  color: #f1f1f1;
}
#menu:hover{
  transform: rotate(90deg);
}

.example-spacer {
    flex: 1 1 auto;
  }
 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;  /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: #f1f1f1;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #9c9c9c;
  display: block;
  transition: 0.3s;
}
/*.line {
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in-out;
}
.line:hover {
  width: 100px;
}*/

.link {
  width: 0;
  display: block;
  margin: 0px;
  transition: 0.5s ease-in-out;

}
.link:hover {
  width: 85%;
  height: 40px;
  margin: 15px;  
  position: static;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 12px #fff, 0 0 20px rgb(9, 255, 0), 0 0 35px rgb(9, 255, 0), 0 0 50px rgb(9, 255, 0), 0 0 80px rgb(9, 255, 0);
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px rgb(99, 255, 0), 0 0 30px rgb(9, 255, 0), 0 0 60px rgb(9, 255, 0), 0 0 80px rgb(9, 255, 0);
  }
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  transform: scale(1.15);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 