
.main{
  background-color: #ff0000;
  color: #f1f1f1;
}
.central{
  display: flex;
  justify-content: center;
}
.toolbar{
  z-index: 2;
}
.example-spacer {
    flex: 1 1 auto;
  }
 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;  /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index:1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: #f1f1f1;
  background-color: #000000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #9c9c9c;
  display: block;
  transition: 0.3s;
  margin-bottom: 3vh;
}

a {
  position: relative; /* Make the anchor tag a positioned element */
  display: inline-block; /* Make the anchor tag an inline-block element */
}

a::before {
  content: ""; /* Add an empty content to the pseudo-element */
  position: absolute; /* Position the pseudo-element relative to its parent */
  bottom: 0; /* Position the pseudo-element at the bottom of the anchor tag */
  left: 0; /* Position the pseudo-element at the left of the anchor tag */
  width: 0; /* Set the initial width of the pseudo-element to 0 */
  height: 2px; /* Set the height of the pseudo-element to 2px */
  background-color: rgb(195, 0, 255); /* Set the background color of the pseudo-element */
  transition: width 0.3s; /* Add a transition effect to the width property */
}

a:hover::before {
  width: 100%; /* Set the width of the pseudo-element to 100% on hover */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenavOpen{
  width: 180px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.linha{
  width: max-content;
}