<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id="nav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <div class="line link"><a href="#">Sobre</a></div>  
  <div class="line link"><a href="#">Projetos</a></div>  
  <div class="line link"><a href="#">Experiência</a></div>  
  <div class="line link"><a href="#">Contato</a></div>  
</div>
<div>
  <p>
    <mat-toolbar color="main">
      <button (click)="openNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <span class="material-symbols-outlined">
          menu
        </span>
      </button>
      <span> Nicolas Rocha Lacerda</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
</div>