<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id="nav" class="sidenav">
  <span class="closebtn" (click)="closeNav()">&times;</span>
  <a href="#" (click)="closeNav()">Sobre</a>
  <div><p class="linha"></p></div>  
  <a [routerLink]="['/projects']" (click)="closeNav()">Projetos</a>
  <div><p class="linha"></p></div>  
  <a href="#" (click)="closeNav()">Experiência</a>
  <div><p class="linha"></p></div>  
  <a href="#" (click)="closeNav()">Contato</a>
</div>
<div>
    <mat-toolbar color="main">
      <button (click)="openNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <span class="material-symbols-outlined">
          menu
        </span>
      </button>
      <div class="central">
        <span > Nicolas Rocha Lacerda</span>

      </div>
    </mat-toolbar>
</div>